In [1]:
import pandas as pd
import numpy as np

In [2]:
body_df = pd.read_csv("bodyPerformance.csv")
body_df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [3]:
def map_gender(gender):
  if gender=='F':
    return 1
  else:
    return 0

body_df["gender"] = body_df["gender"].apply(lambda gender: map_gender(gender))
body_df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25,0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31,0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32,0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28,0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [5]:
def map_body_class(bclass):
  if bclass=='A':
    return 1
  elif bclass=='B':
    return 2
  elif bclass=='C':
    return 3
  else:
    return 4
        

body_df["class"] = body_df["class"].apply(lambda bclass: map_body_class(bclass))
body_df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,0,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,3
1,25,0,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,1
2,31,0,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,3
3,32,0,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,2
4,28,0,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,2

In [6]:
body_df.dtypes

age                          int64
gender                       int64
height_cm                  float64
weight_kg                  float64
body fat_%                 float64
diastolic                  float64
systolic                   float64
gripForce                  float64
sit and bend forward_cm    float64
sit-ups counts             float64
broad jump_cm              float64
class                        int64
dtype: object

In [7]:
body_df.to_csv('bodyPerformance_2.csv', index=False)